.h1{
    text-align: center;
    font-size: medium;

}

.h2{
    font-size: small;
}

.img {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  30%;              
}

.pp1
 {
    height: 10rem;
    text-align: center;
    font-size: large;
    font-family: "メイリオ","Meiryo";
    font-weight: 800;
}
body
{   text-align: center;
    background-color: #fff;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    border: solid;
    border-radius: 8px;
    
}
html{
    background-color: #DDFFFF;
}

.waku{
    border: solid;
    border-radius: 4px;

}



